<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="web_template">
<head>
<title>About Us</title>
</head>
<div layout:fragment="breadcrumbs">
	<!-- BEGIN BREADCRUMBS -->
	<div class="row breadcrumbs margin-bottom-40">
		<div class="container">
			<div class="col-md-4 col-sm-4">
				<h1>About Us</h1>
			</div>
			<div class="col-md-8 col-sm-8">
				<ul class="pull-right breadcrumb">
					<li><a th:href="@{/}">Home</a></li>
					<li class="active">About Us</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- END BREADCRUMBS -->
</div>

<div layout:fragment="content">
	<!-- BEGIN CONTAINER -->
	<div class="container min-hight">
		<!-- BEGIN ABOUT INFO -->
		<div class="row margin-bottom-30">
			<!-- BEGIN INFO BLOCK -->
			<div class="col-md-7 space-mobile">
				<h2>Vero eos et accusamus</h2>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
					quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
				<p>Idest laborum et dolorum fuga. Et harum quidem rerum et quas molestias excepturi sint occaecati facilis est et expedita distinctio lorem
					ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus.</p>
				<!-- BEGIN LISTS -->
				<div class="row front-lists-v1">
					<div class="col-md-6">
						<ul class="list-unstyled margin-bottom-20">
							<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
							<li><i class="fa fa-check"></i> Consectetur adipiscing</li>
							<li><i class="fa fa-check"></i> Deserunt fpicia</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
							<li><i class="fa fa-check"></i> Consectetur adipiscing</li>
							<li><i class="fa fa-check"></i> Deserunt fpicia</li>
						</ul>
					</div>
				</div>
				<!-- END LISTS -->
			</div>
			<!-- END INFO BLOCK -->

			<!-- BEGIN CAROUSEL -->
			<div class="col-md-5 front-carousel">
				<div id="myCarousel" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
							<img src="assets/img/pics/img2-medium.jpg" alt="" />
							<div class="carousel-caption">
								<p>Excepturi sint occaecati cupiditate non provident</p>
							</div>
						</div>
						<div class="item">
							<img src="assets/img/pics/img1-medium.jpg" alt="" />
							<div class="carousel-caption">
								<p>Ducimus qui blanditiis praesentium voluptatum</p>
							</div>
						</div>
						<div class="item">
							<img src="assets/img/pics/img2-medium.jpg" alt="" />
							<div class="carousel-caption">
								<p>Ut non libero consectetur adipiscing elit magna</p>
							</div>
						</div>
					</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev"> <i class="fa fa-angle-left"></i>
					</a> <a class="carousel-control right" href="#myCarousel" data-slide="next"> <i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
			<!-- END CAROUSEL -->
		</div>
		<!-- END ABOUT INFO -->

		<!-- BEGIN TESTIMONIALS AND PROGRESS BAR -->
		<div class="row margin-bottom-40">
			<!-- BEGIN TESTIMONIALS -->
			<div class="col-md-7 testimonials-v1">
				<h2 class="block">Clients Testimonials</h2>
				<div id="myCarousel1" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
							<span class="testimonials-slide">Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet,
								consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met consectetur adipisicing sit amet do eiusmod dolore.</span>
							<div class="carousel-info">
								<img class="pull-left" src="assets/img/people/img3-small.jpg" alt="" />
								<div class="pull-left">
									<span class="testimonials-name">Lina Doe</span> <span class="testimonials-post">Commercial Director</span>
								</div>
							</div>
						</div>
						<div class="item">
							<span class="testimonials-slide">Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of
								them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
								helvetica.</span>
							<div class="carousel-info">
								<img class="pull-left" src="assets/img/people/img2-small.jpg" alt="" />
								<div class="pull-left">
									<span class="testimonials-name">Lina Doe</span> <span class="testimonials-post">Commercial Director</span>
								</div>
							</div>
						</div>
						<div class="item">
							<span class="testimonials-slide">Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh
								dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</span>
							<div class="carousel-info">
								<img class="pull-left" src="assets/img/people/img5-small.jpg" alt="" />
								<div class="pull-left">
									<span class="testimonials-name">Lina Doe</span> <span class="testimonials-post">Commercial Director</span>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousel nav -->
					<a class="left-btn" href="#myCarousel1" data-slide="prev"></a> <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
				</div>
			</div>
			<!-- END TESTIMONIALS -->

			<!-- BEGIN PROGRESS BAR -->
			<div class="col-md-5 front-skills space-mobile">
				<h2 class="block">Our Skills</h2>
				<span>UI Design 90%</span>
				<div class="progress">
					<div style="width: 90%;" class="progress-bar" role="progressbar"></div>
				</div>
				<span>Wordpress CMS 60%</span>
				<div class="progress">
					<div style="width: 60%;" class="progress-bar" role="progressbar"></div>
				</div>
				<span>HTML/CSS JavaScirp 75%</span>
				<div class="progress">
					<div style="width: 75%;" class="progress-bar" role="progressbar"></div>
				</div>
			</div>
			<!-- END PROGRESS BAR -->
		</div>
		<!-- END TESTIMONIALS AND PROGRESS BAR -->

		<!-- BEGIN OUR TEAM -->
		<div class="row front-team">
			<ul class="list-unstyled">
				<li class="col-md-3 space-mobile">
					<div class="thumbnail">
						<img src="assets/img/people/img1-large.jpg" alt="" />
						<h3>
							<a>Lina Doe</a> <small>Chief Executive Officer / CEO</small>
						</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
						<ul class="social-icons social-icons-color">
							<li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
							<li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
							<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
							<li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
						</ul>
					</div>
				</li>
				<li class="col-md-3 space-mobile">
					<div class="thumbnail">
						<img src="assets/img/people/img4-large.jpg" alt="" />
						<h3>
							<a>Carles Puyol</a> <small>Chief Executive Officer / CEO</small>
						</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
						<ul class="social-icons social-icons-color">
							<li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
							<li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
							<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
							<li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
						</ul>
					</div>
				</li>
				<li class="col-md-3 space-mobile">
					<div class="thumbnail">
						<img src="assets/img/people/img2-large.jpg" alt="" />
						<h3>
							<a>Andres Iniesta</a> <small>Chief Executive Officer / CEO</small>
						</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
						<ul class="social-icons social-icons-color">
							<li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
							<li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
							<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
							<li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
						</ul>
					</div>
				</li>
				<li class="col-md-3">
					<div class="thumbnail">
						<img src="assets/img/people/img5-large.jpg" alt="" />
						<h3>
							<a>Jessica Alba</a> <small>Chief Executive Officer / CEO</small>
						</h3>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
						<ul class="social-icons social-icons-color">
							<li><a href="#" data-original-title="Facebook" class="facebook"></a></li>
							<li><a href="#" data-original-title="Twitter" class="twitter"></a></li>
							<li><a href="#" data-original-title="Goole Plus" class="googleplus"></a></li>
							<li><a href="#" data-original-title="Linkedin" class="linkedin"></a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!-- END OUR TEAM -->
	</div>
	<!-- END CONTAINER -->
</div>
</html>